
.wrapper-2{
    display: none;
    margin: 5%;
}

.row--modifier{
    margin-top: -2%;
    font-size: 1.5em;
    font-weight: 500;
}

.row-2{
    display: flex;
    justify-content: space-between;
}

.row-2--modifier{
    border: 1px solid #8093f1;
    background-color: #ffffff;
    margin: 1em 0;
    font-size: 1.2em;
    padding: 1em 2em;
}

.row-3{
    text-align: center;
}


#mapid {
    height: 400px;
    margin: 0;
    padding: 0;
  }