

.wrapper-2{
    display: none;
}

#citi{
    margin-top: 5%;
}

#time{
    color: #ffffff;
}

.row--modifier{
    margin-top: -2%;
    font-size: 1.5em;
    font-weight: 500;
    color: #ffffff;
}

.row-2{
    display: flex;
    justify-content: space-between;
}

.row-2--modifier{
    margin: 1em 0;
    font-size: 1.2em;
    padding: 1em 2em;
    color: #ffffff;
}

.row-2--modifier-bg{
    background-color: #8093f1;
    background-image: url(../images/pattern-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}





.temp{
    font-size: 3em;
}

.parameter{
    font-size: 1.2em;
    color: hsl(257, 7%, 63%);
}

.row-3{
    background-color: #ffffff;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    margin: 0 5%;
    z-index: 1;
}


#mapid {
    height: 400px;
    margin: 0;
    padding: 0;
  }

  @media only screen and (max-width: 400px){

    .wrapper-2{
        font-size: 14px;
    }

    
  }    
